.heading-section{
    border-bottom: 1px solid #263037; 
    height: 100px;
    /* width: 1000%; */
}
/* .heading-section .logo {
    border: 1px solid black;
} */
.heading-section .logo img{
    width: 183px;
    height: 122px;
    display: block;
    margin: 0 auto;
}

.heading-section ul{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}

.heading-section nav ul a{
    text-decoration: none;
    display: inline-block;
    margin-right: 3rem;
    color: #263037;
}

.heading-section nav ul a li{
    list-style: none;
}



