.hero-section{
    /* margin-top: 50px; */
    max-width: 1200px;
    margin: 100px auto;
    
}

.hero-section .content{
    margin-left:2rem;
}


.read-more{
   display: flex;
   justify-content: center;
}

.content h1, .content p{
    text-align: center;
    margin-bottom: 1rem;
}

.content .about-me{
    margin: 1.65rem auto;
}

.content .about-me p{
    text-align: left;
}

.content img{
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
}



.content .actions{
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.content .actions .read{
    margin-left: 5rem;
}

.content a{
    display: inline-block;
}


@media (max-width: 1300px){
    .about-image img{
        display: none;
    }
    .content img{
        width: 6rem;
        height: 6rem;
    }
}

@media (max-width: 765px){
    .about-section{
        margin-bottom: 3rem;
    }
}
