body{
    background-color: #5e727e;
}

.main-section{
    width: 100%;
}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}
.container-box{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.container-box:nth-child(1){
    animation-delay: 0s;
}
.container-box:nth-child(2){
    animation-delay: 1s;
}

.container-box:nth-child(3){
    animation-delay: 2s;
}

.container-box:nth-child(4){
    animation-delay: 3s;
}

.container-box:nth-child(5){
    animation-delay: 4s;
}

.container-box:nth-child(6){
    animation-delay: 5s;
}


.text-box{
    color: #263037;
    padding: 20px 30px;
    background-color: #FFFFC2;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    /* border: solid #AAA 1px; */
}
.text-box h2{
    color: #36454F;
}

.left-container{
    left: 0;
}
.right-container{
    left: 50%;
}
.container-box .year{
    position: absolute;
    width: 60px;
    /* border: solid #AAA 1px; */
    border-radius: 20%;
    right: -30px;
    top: 37px;
    z-index: 10;
    background-color: #5e727e;
    text-decoration:solid;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    color: #263037;
}
.right-container .year{
    left: -30px;
}

.timeline::after{
    content:'';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #36454F !important;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
    /* border: solid #AAA 1px; */
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 32px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #36454F;
    right: -15px;
}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 32px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #36454F;
    left: -15px;
}

@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container-box{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container .year, .right-container .year{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right:15px solid #36454F;
        border-left: 0;
        left: -15px;
    }
    .container-box .year{
        width: 50px;
        /* right: -30px; */
        left: 6px;
        top: 36px;
    }
}
